@namespace Skclusive.Mobx.Form
@inherits MaterialComponentBase

<Button
    Class="@_Class"
    Style="@_Style"
    Variant="@Variant"
    Color="@Color"
    OnClick="@HandleCancelAsync"
    OnClickPrevent="true"
    OnClickStop="true">
    @Text
</Button>
