@namespace Skclusive.Mobx.Form
@inherits MaterialComponentBase

<Button
    Class="@_Class"
    Style="@_Style"
    Variant="@Variant"
    Color="@Color"
    OnClick="@HandleSubmit"
    OnClickPrevent="true"
    OnClickStop="true"
    Disabled="@InValid">
    @Text
</Button>
